#movieDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5vh 0;

    #movieTitle {
        margin-bottom: 10vh;
        text-align: center;
    }

    #movieBanner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            max-width: 100%;
        }

        #movieDate {
            margin-bottom: 10vh;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    #overview, #runtime {
        margin-bottom: 10vh;
        font-size: 1.2rem;
        text-align: center;
    }

}



#castList {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-auto-rows: minmax(250px auto);
    margin-bottom: 30px;
    

    .castMember {
        text-align: center;
        padding: 10px;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        a {
            text-decoration: none;
            color: $primary-color;
        }
    }
}

@media (min-width: 400px) {
    #movieDetails {
        #movieBanner {
        
            img {
                max-width: 70%;
            }
        }
    }
}

@media (min-width: 600px) {
    #movieDetails {
        #movieBanner {
        
            img {
                max-width: 60%;
            }
        }
    }
}

@media (min-width: 768px) {
    #movieDetails {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        grid-template-areas: 
        'title title'
        'banner overview'
        'runtime runtime';
 
        #movieTitle {
            grid-area: title;
        }
 
        #movieBanner {
            grid-area: banner;

            img {
                max-width: 100%;
            }
 
            #movieDate {
                margin: 0;
            }
        }
 
        #overview {
            grid-area: overview;
            padding: 20px;
            margin: 0;
        }
 
        #runtime {
            grid-area: runtime;
            margin: 10vh 0 0 0;
        }
     }
}

@media (min-width: 960px) {
    #movieDetails {
        #movieBanner {
        
            img {
                max-width: 60%;
            }
        }
    }
}

@media (min-width: 1200px) {
    #movieDetails {

        #overview {

            padding: 10vw;
        }
    }
}