* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {

        margin: 10px 40px;

        img {
            width: 50px;
            height: 50px;
        }
    }

    h1 {
        display: none;
    }
}



.main-menu {
    position: fixed;
    top: 0px;
    right: 0px;
    background: blue; 
    height: 100px;
    width: 100px;
    border-bottom-left-radius: 50px;
    transition: all 1s;

    &.active {
        height: 100vh;
        width: 100vw;
        border-bottom-left-radius: 0;

        .menu-group {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 25vh 0;
            height: 100%;
            width: 100%;
        }
    }

    .hamburger {
        position: absolute;
        top: 30px;
        right: 30px;
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all 1s;

        &.hamburger-anim {
            // transform: rotate(-135deg);

            &>div:nth-child(1) {
                transform: translateY(13px) rotate(45deg);
            }

            &>div:nth-child(2) {
                transform: translateX(1500px);
            }

            &>div:nth-child(3) {
                transform: translateY(-13px) rotate(-45deg);
            }
        }
       
        div {
            background: white;
            width: 30px;
            height: 4px;
            transition: all 1s;
        }
    }

    .menu-group {
        display: none;
        visibility: hidden;
        
        .menu-item {
            color: white;
            text-decoration: none;
            font-size: 2rem;
        }
    }
}

.wrapper {
    width: 80%;

    img {
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    header {

        h1 {
            display: block;
        }
    }
}