/* This file styles the main homepage (all movies) as well as
all actors/directors page. Imports are added below to scss files to style
actor details and movie details pages. */

@import 'config';
@import 'actorDetails';
@import 'movieDetails';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {

        margin: 10px 40px;

        img {
            width: 50px;
            height: 50px;
        }
    }

    h1 {
        display: none;
    }
}



.main-menu {
    position: fixed;
    top: 0px;
    right: 0px;
    background: $primary-color; 
    height: 75px;
    width: 75px;
    border-bottom-left-radius: 50px;
    transition: 
        border-bottom-left-radius 0.3s,
        height 0.3s,
        width 0.3s;


    .menu-group {
        display: none;
        visibility: hidden;
        
        .menu-item {
            color: white;
            text-decoration: none;
            font-size: 2rem;
        }
    }

    &.active {
        height: 100vh;
        width: 100vw;
        border-bottom-left-radius: 0;

        .menu-group {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 25vh 0;
            height: 100%;
            width: 100%;
            visibility: visible;
        }
    }

    .hamburger {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &.hamburger-anim {

            &>div:nth-child(1) {
                transform: translateY(13px) rotate(45deg);
            }

            &>div:nth-child(2) {
                transform: translateX(1500px);
            }

            &>div:nth-child(3) {
                transform: translateY(-13px) rotate(-45deg);
            }
        }
       
        div {
            background: white;
            width: 30px;
            height: 4px;
            transition: transform 1s;
        }
    }
}

.wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    h2 {
        margin: 30px 0;
        text-align: center;
    }

    img {
        max-width: 100px;
        border-radius: 15px;
    }

    #results {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        grid-auto-rows: minmax(200px auto);

        .resultBanner, .resultNoImage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;

            a {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 540px) {
    .wrapper {

        #results {
            grid-template-columns: repeat(3, auto);
        }
    }
}

@media (min-width: 768px) {
    header {

        h1 {
            display: block;
        }
    }

    .wrapper {

        img {
            max-width: 150px;
        }

        #results {
            grid-template-columns: repeat(4, auto);
        }
    }
}

@media (min-width: 1024px) {
    .wrapper {

        img {
            max-width: 200px;
        }
    }
}