/* This file styles the main homepage (all movies) as well as
all actors/directors page. Imports are added below to scss files to style
actor details and movie details pages. */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
#movieDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5vh 0;
}

#movieDetails #movieTitle {
  margin-bottom: 10vh;
  text-align: center;
}

#movieDetails #movieBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#movieDetails #movieBanner img {
  max-width: 100%;
}

#movieDetails #movieBanner #movieDate {
  margin-bottom: 10vh;
  font-size: 1.2rem;
  text-align: center;
}

#movieDetails #overview, #movieDetails #runtime {
  margin-bottom: 10vh;
  font-size: 1.2rem;
  text-align: center;
}

#castList {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  grid-auto-rows: minmax(250px auto);
  margin-bottom: 30px;
}

#castList .castMember {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#castList .castMember a {
  text-decoration: none;
  color: blue;
}

@media (min-width: 400px) {
  #movieDetails #movieBanner img {
    max-width: 70%;
  }
}

@media (min-width: 600px) {
  #movieDetails #movieBanner img {
    max-width: 60%;
  }
}

@media (min-width: 768px) {
  #movieDetails {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    grid-template-areas: 'title title' 'banner overview' 'runtime runtime';
  }
  #movieDetails #movieTitle {
    grid-area: title;
  }
  #movieDetails #movieBanner {
    grid-area: banner;
  }
  #movieDetails #movieBanner img {
    max-width: 100%;
  }
  #movieDetails #movieBanner #movieDate {
    margin: 0;
  }
  #movieDetails #overview {
    grid-area: overview;
    padding: 20px;
    margin: 0;
  }
  #movieDetails #runtime {
    grid-area: runtime;
    margin: 10vh 0 0 0;
  }
}

@media (min-width: 960px) {
  #movieDetails #movieBanner img {
    max-width: 60%;
  }
}

@media (min-width: 1200px) {
  #movieDetails #overview {
    padding: 10vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header a {
  margin: 10px 40px;
}

header a img {
  width: 50px;
  height: 50px;
}

header h1 {
  display: none;
}

.main-menu {
  position: fixed;
  top: 0px;
  right: 0px;
  background: blue;
  height: 75px;
  width: 75px;
  border-bottom-left-radius: 50px;
  transition: border-bottom-left-radius 0.3s, height 0.3s, width 0.3s;
}

.main-menu .menu-group {
  display: none;
  visibility: hidden;
}

.main-menu .menu-group .menu-item {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.main-menu.active {
  height: 100vh;
  width: 100vw;
  border-bottom-left-radius: 0;
}

.main-menu.active .menu-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25vh 0;
  height: 100%;
  width: 100%;
  visibility: visible;
}

.main-menu .hamburger {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-menu .hamburger.hamburger-anim > div:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.main-menu .hamburger.hamburger-anim > div:nth-child(2) {
  transform: translateX(1500px);
}

.main-menu .hamburger.hamburger-anim > div:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.main-menu .hamburger div {
  background: white;
  width: 30px;
  height: 4px;
  transition: transform 1s;
}

.wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.wrapper h2 {
  margin: 30px 0;
  text-align: center;
}

.wrapper img {
  max-width: 100px;
  border-radius: 15px;
}

.wrapper #results {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  grid-auto-rows: minmax(200px auto);
}

.wrapper #results .resultBanner, .wrapper #results .resultNoImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.wrapper #results .resultBanner a, .wrapper #results .resultNoImage a {
  color: blue;
  text-decoration: none;
}

@media (min-width: 540px) {
  .wrapper #results {
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 768px) {
  header h1 {
    display: block;
  }
  .wrapper img {
    max-width: 150px;
  }
  .wrapper #results {
    grid-template-columns: repeat(4, auto);
  }
}

@media (min-width: 1024px) {
  .wrapper img {
    max-width: 200px;
  }
}
